/*Reset & base style*/
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
       
    }

   .navbar {
        float: right;
        display: flex;
        top: 10px; 
        padding: 0px 50px;
    }

    /* Header */
    .header {
        background-color: #44b448;
        color: white;
        text-align: center;
        padding: 1.3rem 0;
    }

 

    .nav-list {
        display: flex;
        list-style: none;
        color: #222;
    }

    .nav-list {
        margin-right: 10px;
        color: #222;
    }

    .nav-list li {
        margin-right: 0px;
        color: #222;
    }

    .nav-list li:last-child{
        margin-right: 0;
        color: #222;
    }
    
    .nav-list li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        transition: color 0.3s ease-in-out;
    }

    .nav-list li a:hover {
        color: #1f1a02;
        /* Change the color on hover */
    }

    /* Main content */
    .content {
        padding: 2rem;
        text-align: center;
    }

    /* Footer */
    .footer {
        background-color: #222;
        color: white;
        text-align: center;
        padding: 30px 0 ;
    }

